body{
    margin:0;
}
h1{
    margin:0;
}
.top-container{
    background-color: #e4f9f5;
    width: 200px;
    height: 200px;
    border:solid 10px;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
    border:solid 10px;
    margin-left:13.4rem;
}

.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
    border:solid 10px;
    margin-left: 26.7rem;
}